.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #BBB;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #AAA;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Print style */

.content-margin {
  margin: 10px 60px 0px 60px !important
}

.footer-margin {
  margin: 30px 60px 50px
}

.header-margin {
  margin: 50px 60px 40px
}

.invoice-title {
  font-size: 30px;
}

.customer-details {
  margin-bottom: 50px;
}

.customer-name {
  font-size: 20px
}

.order-logo {
  width: 250px;
  height: 100%
}

.total-text {
  font-size: 20px;
  font-weight: 700;
}

.total-text-small {
  font-size: 16px;
  font-weight: 700;
}

.big-font {
  font-size: 34px;
}

.adm-tabs-content {
  height: 100%;
}

.flex-even {
  flex: 1;
}